<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <style>
      .responsive-image {
      display: flex;
      flex-wrap: wrap;
      width: 100%;
       height: auto;
      }
      </style>
    <title>植物圖鑑資訊</title>
</head>
<body>
    <div class="card mb-3" style="max-width: 540px;">
        <div class="row no-gutters">
          <div class="col-md-4">
            <img src="https://storage.googleapis.com/green01/plant/Ageratum_houstonianum.jpg" alt="紫花藿香薊" class="responsive-image">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">紫花藿香薊</h5>
              <p class="card-text">高30-100公分，葉子呈現鈍三角形或心形，分布於全台低海拔至1,300公尺地區。</p>
              
            </div>
          </div>
        </div>
      </div>
    <div class="card mb-3" style="max-width: 540px;">
        <div class="row no-gutters">
          <div class="col-md-4">
            <img src="https://storage.googleapis.com/green01/plant/Amaranthus_spinosus.jpg" alt="刺莧" class="responsive-image">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">刺莧</h5>
              <p class="card-text">高30-100公分，花為綠色，分布於全台田地。</p>
            </div>
          </div>
        </div>
      </div>
    <div class="card mb-3" style="max-width: 540px;">
        <div class="row no-gutters">
          <div class="col-md-4">
            <img src="https://storage.googleapis.com/green01/plant/Bidens_pilosa_var._radiata.JPG" alt="大花咸豐草" class="responsive-image">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">大花咸豐草</h5>
              <p class="card-text">高可達2 m，開花期長，對天災耐性強，分布於全台低海拔至1000公尺地區。</p>
            </div>
          </div>
        </div>
      </div>
    <div class="card mb-3" style="max-width: 540px;">
        <div class="row no-gutters">
          <div class="col-md-4">
            <img src="https://storage.googleapis.com/green01/plant/Bryophyllum_pinnatum.jpg" alt="落地生根" class="responsive-image">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">落地生根</h5>
              <p class="card-text"> </p>
            </div>
          </div>
        </div>
      </div>
    <div class="card mb-3" style="max-width: 540px;">
        <div class="row no-gutters">
          <div class="col-md-4">
            <img src="https://storage.googleapis.com/green01/plant/Celosia%20argentea.jpg" alt="雞冠花" class="responsive-image">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">雞冠花</h5>
              <p class="card-text">又稱青葙，高30-100公分，花為圓柱狀，顏色白色或紫紅色，分布於全台低海拔地區。</p>
            </div>
          </div>
        </div>
      </div>
    <div class="card mb-3" style="max-width: 540px;">
        <div class="row no-gutters">
          <div class="col-md-4">
            <img src="https://storage.googleapis.com/green01/plant/Chloris_barbata.JPG" alt="孟仁草" class="responsive-image">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">孟仁草</h5>
              <p class="card-text">高30-120公分，花為穗狀花序，顏色呈紫紅色。分布於全台低海拔和海邊地區。</p>
            </div>
          </div>
        </div>
      </div>
    <div class="card mb-3" style="max-width: 540px;">
        <div class="row no-gutters">
          <div class="col-md-4">
            <img src="https://storage.googleapis.com/green01/plant/Conyza_species.jpg" alt="加拿大蓬" class="responsive-image">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">加拿大蓬</h5>
              <p class="card-text"> </p>
            </div>
          </div>
        </div>
      </div>
    <div class="card mb-3" style="max-width: 540px;">
        <div class="row no-gutters">
          <div class="col-md-4">
            <img src="https://storage.googleapis.com/green01/plant/Crassocephalum_crepidioides.jpg" alt="昭和草" class="responsive-image">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">昭和草</h5>
              <p class="card-text">高可達1公尺，花為紅褐色，分布於全台低至中海拔開闊地區。</p>
            </div>
          </div>
        </div>
      </div>
    <div class="card mb-3" style="max-width: 540px;">
        <div class="row no-gutters">
          <div class="col-md-4">
            <img src="..." alt="狗牙根" class="responsive-image">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">狗牙根</h5>
              <p class="card-text">高約 15~25 公分，稈斜上或直立，分布於全台平地及丘陵地區。</p>
            </div>
          </div>
        </div>
      </div>
      <div class="card mb-3" style="max-width: 540px;">
        <div class="row no-gutters">
          <div class="col-md-4">
            <img src="https://storage.googleapis.com/green01/plant/Eleusine_indica.jpg" alt="牛筋草" class="responsive-image">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">牛筋草</h5>
              <p class="card-text">根系深入土內，不易拔除，穗狀花序長3-9 cm，全台都有生長。</p>
            </div>
          </div>
        </div>
      </div>
    <div class="card mb-3" style="max-width: 540px;">
        <div class="row no-gutters">
          <div class="col-md-4">
            <img src="https://storage.googleapis.com/green01/plant/Lantana_camara.JPG" alt="馬纓丹" class="responsive-image">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">馬纓丹</h5>
              <p class="card-text">葉子為楔形或略心形，花顏色多變、形狀為球形，分布於全台低海拔地區。</p>
            </div>
          </div>
        </div>
      </div>
    <div class="card mb-3" style="max-width: 540px;">
        <div class="row no-gutters">
          <div class="col-md-4">
            <img src="https://storage.googleapis.com/green01/plant/Leucaena_leucocephala.jpg" alt="銀合歡" class="responsive-image">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">銀合歡</h5>
              <p class="card-text">高可達10公尺，莢果長10-15公分，種子褐色，光滑具光澤，分布於全台海拔3,000公尺以下地區。</p>
            </div>
          </div>
        </div>
      </div>
    <div class="card mb-3" style="max-width: 540px;">
        <div class="row no-gutters">
          <div class="col-md-4">
            <img src="https://storage.googleapis.com/green01/plant/Mikania_micrantha.JPG" alt="小花蔓澤蘭" class="responsive-image">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">小花蔓澤蘭</h5>
              <p class="card-text">花冠為白色，葉子心形，莖細長，匍匐或攀緣，分布於全台至中低海拔1000公尺地區。</p>
            </div>
          </div>
        </div>
      </div>
    <div class="card mb-3" style="max-width: 540px;">
        <div class="row no-gutters">
          <div class="col-md-4">
            <img src="https://storage.googleapis.com/green01/plant/Pennisetum_purpureum.jpg" alt="象草" class="responsive-image">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">象草</h5>
              <p class="card-text">高可達3公尺，細小剛毛摸起來柔軟舒適，分布於全台平地至中海拔1,500公尺地區。</p>
            </div>
          </div>
        </div>
      </div>
      <div class="card mb-3" style="max-width: 540px;">
        <div class="row no-gutters">
          <div class="col-md-4">
            <img src="https://storage.googleapis.com/green01/plant/Rhynchelytrum_repens.jpg" alt="紅毛草" class="responsive-image">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">紅毛草</h5>
              <p class="card-text"> </p>
            </div>
          </div>
        </div>
      </div>
      <div class="card mb-3" style="max-width: 540px;">
        <div class="row no-gutters">
          <div class="col-md-4">
            <img src="https://storage.googleapis.com/green01/plant/Miscanthus%20species.JPG" alt="芒草" class="responsive-image">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">芒草</h5>
              <p class="card-text">高約 1~3 公尺，花初期為淡黃色，分布於全台低海拔地區。</p>
            </div>
          </div>
        </div>
      </div>
      <div class="card mb-3" style="max-width: 540px;">
        <div class="row no-gutters">
          <div class="col-md-4">
            <img src="https://storage.googleapis.com/green01/plant/Syngonium_podophyllum.jpg" alt="合果芋" class="responsive-image">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">合果芋</h5>
              <p class="card-text">葉子箭頭形，具攀附性，顏色白、綠相間，分布於全台北部低海拔地區。</p>
            </div>
          </div>
        </div>
      </div>
      <div class="card mb-3" style="max-width: 540px;">
        <div class="row no-gutters">
          <div class="col-md-4">
            <img src="https://storage.googleapis.com/green01/plant/Tithonia_diversifolia.jpg" alt="王爺葵" class="responsive-image">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">王爺葵</h5>
              <p class="card-text">高可達3公尺，花瓣黃色，分布於全台至中低海拔地區。</p>
            </div>
          </div>
        </div>
      </div>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>  
</body>
</html>